html, .ContactContent, .HomeContent, .ProjectContent, .AboutContent {
    background-color: rgb(112, 153, 112);
}

* {
    font-family: monospace;
}

.Navbar {
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    display: flex;
    /* font-family: monospace; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100%;
    background-color: lightgrey;
}

.Navbar a:hover {
    background-color: rgb(112, 153, 112);
    border-radius: 2px;
    color: white;
}

.Navbar a:visited:hover {
    color:white;
}

.Navbar a:visited {
    color: black;
}

.Navbar a {
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
    margin-left: 30px;
}

.Name {
    left: 0;
    position: fixed;
    padding-left: 15px;
}

#PageTitle {
    padding-top: 175px;
    text-align: center;
    color: black;
    padding-bottom: 100px;
    /* font-family: monospace; */
}

form {
    padding-bottom: 300px;
    padding-left: 20%;
    padding-right: 20%;
}

.ContactContent p {
    /* font-family: monospace; */
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    bottom: 0;
    right: 0;
    padding-left: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    text-align: right;
    position: fixed;
    /* font-family: monospace; */
    background-color: lightgrey;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:visited {
    color: black;
}

.ProjectContent p {
    /* font-family: monospace; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
}

.ProjectContent img {
    max-width: 7cm;
    height: auto;
    display: inline-block;
    margin-right: 30px;
    float: left;
    padding-left: 50px;
    border-radius: 30px;
}


.Skills {
    padding-left: 20px;
    list-style-position: inside;
    /* font-family: monospace; */
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    /* font-family: monospace; */
    text-align: center;
}

.Snake, .Currency, .Website {
    background-color: rgb(112, 153, 112);
    width: 300px;
    border: 10px solid rgb(179, 209, 179);
    padding: 50px;
    margin: 30px;
    border-radius: 30px;
    text-decoration: none;
}

.Snake:hover, .Currency:hover, .Website:hover {
    border: 10px solid rgb(74, 91, 74);
    background-color: rgb(97, 134, 97);
    color: black;
}

.Snake h5:visited, .Snake h5, .Currency h5:visited, .Currency h5, .Website h5:visited, .Website h5 {
    color: black;
    text-decoration-color: black;
}

#SnakeImage {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 50px;
}

#CurrencyImage {
    display: flex;
    justify-content: center;
    margin-right: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#WebsiteImage {
    display: flex;
    justify-content: center;
    margin-right: 22px;
    margin-top: 10px;
    margin-bottom: 22px;
}

.HomeCircle {
    display: flex;
    justify-content: center;
}

.HomeCircle img, .AboutCircle img {
    width: 25%;
    border-radius: 400px;
    border: 10px solid rgb(179, 209, 179);
}

.AboutCircle {
    padding-left: 7%;
}

.AboutContent {
    /* font-family: monospace; */
    padding-bottom: 100px;
}

.AboutContent p, .AboutContent .Skills {
    border-radius: 10px;
    padding: 10px;
    border: 3px solid rgb(179, 209, 179);
    margin-left: 33%;
    margin-right: 7%;
}

.AboutContent img {
    float: left;
    max-width: 400px;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display:flex;
    align-items: center;
    background-color: blueviolet;
    box-sizing: border-box;
}

.container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100pc;
    width: 100vw;
    overflow: auto;
}

